/* || RESET */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* || VARIABLES */

:root {
  /* color */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --cornflower: #e7e9fc;
}

/* || GENERAL STYLES */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* || BLOCKS */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
  padding: 24px 0;
}

.contact {
  display: flex;
  gap: 40px;
}

/* || ELEMENTS */

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.contact-link {
  /* font-style: normal; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

.logo__header {
  color: var(--navy-blue);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* END OF GENERAL STYLES */

/* HEADER SECTION */

/* HERO SECTION */

.hero-section {
  background-color: var(--navy-blue);
  text-align: center;
  color: var(--white);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* FEATURE SECTION */

/* TEAM SECTION */
.team-section {
  background-color: var(--cloud);
}

.card-item {
  background-color: var(--white);
}

/* FOOTER SECTION */

.footer {
  background-color: var(--navy-blue);
}

.footer .span,
.footer .item-text {
  color: var(--cloud);
}

/* PAGE SECTION */
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
}

.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}
